<html ng-app="Ants">
    <head>
        <title>Ants</title>
        <link href="../vendors/pure/pure-min.css" rel="stylesheet" type="text/css" />
        <link href="app.css" rel="stylesheet" type="text/css" />

        <!-- vendor -->
        <script src="../vendors/underscore/underscore-min.js" type="application/javascript"></script>
        <script src="../vendors/angular/angular.js"       type="application/javascript"></script>

        <!-- modules -->
        <script src="components/models/geometry.js"       type="application/javascript"></script>
        <script src="components/models/ant.js"            type="application/javascript"></script>
        <script src="playground/playground-controller.js" type="application/javascript"></script>

        <!-- main -->
        <script src="app.js" type="application/javascript"></script>
    </head>
    <body ng-controller="PlaygroundCtrl as ctrl">
        <div class="pure-g controls">
            <button class="pure-u-1-4 pure-button button-green" ng-disabled="ctrl.isButtonDisabled('start')" ng-click="ctrl.start()">Start</button>
            <button class="pure-u-1-4 pure-button button-red" ng-disabled="ctrl.isButtonDisabled('stop')" ng-click="ctrl.stop()">Stop</button>
            <button class="pure-u-1-4 pure-button button-yellow" ng-click="ctrl.reset()">Reset</button>
            <button class="pure-u-1-4 pure-button button-blue" ng-disabled="ctrl.isButtonDisabled('step')" ng-click="ctrl.step()">Step</button>
        </div>
        <div class="pure-g" align="center">
            <div class="pure-u-1-1">
                <canvas id="playground" class="playground"></canvas>
            </div>
        </div>
    </body>
</html>
